alembic
anthropic
asyncpg
fastapi
google-auth==2.29.0
greenlet
gunicorn
httpx
langchain-text-splitters
openai
pdfplumber
pgvector
psycopg2-binary
pydantic
pydantic-settings
python-docx
python-dotenv
python-jose
python-multipart
sqlalchemy
uvicorn